* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8F5E9;
    color: #000000;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

div#banner {
    background-color: #004d00;
    color: #000000;
    width: 100%;
    padding: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

h2 {
    font-size: 2.5rem;
    padding: 10px;
}

p {
    font-size: 1.25rem;
    padding: 10px;
}

.line {
    height: 2px;
    background-color: #004d00;
    border: none;
    width: 80%;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 0.625rem;
    position: relative;
    width: 100vw;
}

#navbar-logo {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
    margin: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar-links li a:hover {
    color: #6fe06f;
}

.banner-content {
    background-image: url('imagens/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    position: relative;
    padding: 10px;
}

.banner-content h2 {
    font-size: 48px;
    margin: 0;
    color: #006400;
}

.banner-content p {
    font-size: 24px;
    margin: 10px 0 0;
    color: #6fe06f;
}

section#contact {
    padding: 20px;
    width: 100%;
    background-color: #E0F7FA;
    color: #333333;
}

div#contact-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

#phone {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #1E90FF;
    padding: 10px;
    border-radius: 50%;
}

#email {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #D32F2F;
    padding: 10px;
    border-radius: 50%;
}

#alert {
    background-color: #FFF9C4;
    padding: 15px;
    border: 1px solid #FBC02D;
    border-radius: 5px;
}

#alert h3 {
    color: #F57C00;
    font-size: 32px;
    padding-left: 10px;
}

#alert p {
    color: #333;
}

#alert strong {
    color: #F57C00;
}

section#products {
    padding: 20px;
    width: 100%;
    background-color: #EAEAEA;
    color: #333333;
}

div#product-card-container {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

div.product-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    height: 420px;
    width: 300px;
    text-align: center;
    position: relative;
    border-left: 3px solid #004d00;
}

.product-image {
    max-width: 100%;
    border-radius: 5px;
    height: 175px;
    width: 225px;
    padding: 10px;
    margin: auto;
}

.product-card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #006400;
    flex-grow: 1;
}

.product-card p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    flex-grow: 1;
}

.best-seller,
.promotion,
.last-units {
    position: absolute;
    top: -15px;
    left: -10px;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
}

.best-seller {
    background-color: #FF7F50;
}

.promotion {
    background-color: #FFB74D;
}

.last-units {
    background-color: #4FC3F7;
}

.product-size {
    font-size: 0.875rem;
    color: #ffffff;
    background-color: #D32F2F;
    padding: 5px;
    border-radius: 3px;
    text-align: justify;
}

section#about-us {
    padding: 20px;
    width: 100%;
    background-color: #acc889;
    color: #333333;
}

section#about-us a {
    color: #388E3C;
}

#final-sentence {
    background: url('imagens/ortopedia.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #E0E0E0;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    color: #333333;
    font-weight: bold;
}

#final-sentence p {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

footer {
    background-color: #333333;
    color: #E0E0E0;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-message,
.footer-links {
    text-align: left;
    padding: 0 20px;
    width: 45%;
}

.footer-content h4 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-message p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links ul {
    padding: 0;
}

.footer-pages {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.footer-pages li a {
    color: #E0E0E0;
    text-decoration: none;
}

.footer-pages li a:hover {
    color: #3498db;
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #7c7a7a;
    padding-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-pages {
        display: flex;
        justify-content: center;
    }

    .footer-message,
    .footer-links {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
}